<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037117217787-fm33npossqfvl0hem9i4hkm26gta2mac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037117217787-fm33npossqfvl0hem9i4hkm26gta2mac</string>
	<key>API_KEY</key>
	<string>AIzaSyDbfmcj-ybgz8b7g9dDOUGX_p5F5Wvtx40</string>
	<key>GCM_SENDER_ID</key>
	<string>1037117217787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>firstapp.LoginPage</string>
	<key>PROJECT_ID</key>
	<string>login-fd5cb</string>
	<key>STORAGE_BUCKET</key>
	<string>login-fd5cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037117217787:ios:b047ed2c4b74b35a6f495e</string>
</dict>
</plist>